* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  text-decoration: none;
  font-family: "Poppins";
}

html {
  transition: 2s;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background-color: var(--body-bg);
  transition: 1s;
}

:root {
  --body-bg: #fff;
  --logo-color: #000;
  --github-color: #000;
  --dribbble-color: #ea4c89;
  --behance-color: #0057ff;
  --azul-paleta: #0084ff;
  --redes-btn-footer: #f7f7f7;
  --name-redes-btn-footer: #707070;
  --telefone-email-color: #000;
  --texto-erro: #000;
  --texto-voltar: #aeaeae;
}

.dark-mode:root {
  --body-bg: #151515;
  --logo-color: #fff;
  --github-color: #fff;
  --redes-btn-footer: #222;
  --name-redes-btn-footer: #b6b6b6;
  --telefone-email-color: #fff;
  --texto-erro: #fff;
  --texto-voltar: #aeaeae;
}

/* Modo dark */
#mode {
  margin-top: -14px;
  align-items: center;
}

#mode .btn i {
  font-size: 10px;
}

#mode .btn {
  width: 40px;
  height: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 60px;
  position: relative;
  cursor: pointer;
  margin: 4px;
  margin-top: 1px;
}

#mode .btn.active {
  border: 2px solid #484848;
}

#mode .btn:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #e5e5e5;
  border-radius: 50%;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  transition: 1.5s;
}

#mode .btn.active:before {
  left: 22px;
  transition: 1.5s;
  background-color: #303030;
}

/* Modo dark - icones */
#mode .btn #light {
  position: relative;
  top: -4px;
  left: 5px;
  transition: 4s;
  color: #444;
}

#mode .btn #dark {
  position: relative;
  top: -4px;
  left: 10px;
  color: #e5e5e5;
  transition: 1s;
}

#mode p {
  font-size: 10px;
  color: #bababa;
}

/* cabeçalho */
.header {
  display: flex;
  width: 100vw;
}

.header .box {
  width: 100vw;
  height: 12vh;

  display: flex;
  justify-content: center;
}

/* Logotipo */
#logo {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  margin-right: 50%;
}

#logo svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  fill: var(--logo-color);
}

#logo a {
  color: var(--logo-color);
}

/* Botões de redes sociais */
.icons {
  width: 15px;
  height: 15px;
}

.btn-rs {
  display: inline-flex;
  align-items: center;
}

.btn-rs ul a {
  display: inline-flex;
  align-items: center;
  margin-right: 35px;
}

.btn-rs ul a img {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
}

.btn-rs ul a svg {
  margin-right: 5px;
  fill: var(--logo-color);
}

#btn-github {
  color: var(--github-color);
}

#btn-dribbble {
  color: var(--dribbble-color);
}

#btn-behance {
  color: var(--behance-color);
}

.link:hover {
  opacity: 50%;
}

/* navbar */
.menu {
  width: 100vw;
  height: 5.5vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.menu {
  display: flex;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: #868686;
  padding: 14px 16px;
  font-weight: 500;
}

.menu li a:hover {
  color: var(--azul-paleta);
}

/* secao principa erro 404 */


.main .erro {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
}

.main .erro h1 {
  font-size: 150px;
  font-weight: 600;
  line-height: 200px;
  color: #0084ff;
}

.main .erro h2 {
  font-size: 40px;
  line-height: 55px;
  font-weight: 600;
  text-align: center;
  color: var(--texto-erro);
}

.main .erro h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: var(--texto-voltar);
}

.main .erro button {
  margin-top: 2rem;
}

.main .erro a {
  padding: 8px 25px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: var(--azul-paleta);
  transition: 300ms;
}

.main .erro a:hover {
  /* opacity: 50%; */
  background-color: #006fd6;
}
